* {
    border: solid;
    border-radius: 8px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0px;
    background: transparent;
}

window#waybar {
    background: transparent;
    border-radius: 8px;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
  background: black;
}

#workspaces button {
    padding: 2px 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: black;
    border-bottom: 3px solid white;
    border-radius: 8px;
}

#battery.charging {
    color: white;
    padding: 2px 6px 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: red;
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 2px 6px 2px;
}

#network {
    padding: 0px 6px;
}

#power-profiles-daemon {
    padding: 0px 6px;
}

#left, #center, #right {
    background: transparent;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 6px 6px 6px;
}
